
<div id="nav-btn" class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <%= link_to "Eat", locations_path, class: "btn btn-lg btn-success" %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "Join the Fleet", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>


<iframe id="bgvid" width="560" height="315" src="https://www.youtube.com/embed/qsbiEQ0SMVQ?autoplay=1&loop=1&playlist=qsbiEQ0SMVQ" frameborder="0" allowfullscreen>
</iframe>
