<% if current_user %>
  <div id="nav-btn" class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <%= link_to "Dashboard", user_show_path(id: current_user.id), class: "btn btn-lg btn-success" %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to "See the Fleet", trucks_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <img id="lineup" src="https://cdn2.vox-cdn.com/thumbor/ZIztxRIJxM7uRP3tTRnuB1jMKnA=/0x0:1024x768/1310x983/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/47143878/food-truck-lineup.0.0.jpg">
  <img>
<% else %>
  <div id="nav-btn" class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <%= link_to "Eat", locations_path, class: "btn btn-lg btn-success" %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to "Cook", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div id="filter" class="container">
    <img id="lineup" src="https://cdn2.vox-cdn.com/thumbor/ZIztxRIJxM7uRP3tTRnuB1jMKnA=/0x0:1024x768/1310x983/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/47143878/food-truck-lineup.0.0.jpg">
    <img>
  </div>
<% end %>
