// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #map {
//   margin-top: 5%;
//   min-width: 100%;
// }
