// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mapIndex {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0;
  position: absolute;
}
