// Place all the styles related to the trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#twitter_pane {
  margin-top: 25px;
}

#contact {
  margin-top: 80px;
}

#truck_button {
  float: left;
}
